body{
color: white;
font-family: Verdana;
}
#divisa{
	color:white;
	box-shadow: -5px 0px 10px 5px red;
}
.collapse navbar-collapse{
	color:black;
}
#noticias{
	padding: 15px;
	color:white;
	text-align: center;
}
footer{text-align: center;
color: white;
background-color: red; }